DATABASE_URL=postgresql://automate_postgres_user:WOERDl99wyAm9PvPRIbzHOxBRitbvXLe@dpg-d7hc913bc2fs73detoeg-a/automate_postgres
SECRET_KEY=change-me
GOOGLE_CLIENT_ID=your-google-client-id
GOOGLE_CLIENT_SECRET=your-google-client-secret
